.card {
    width: max-content;
    padding: 20px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 1px 2px 1px #8080807a;
    text-align: center;
    margin: 10px;
}

.card .card_img {
    width: 120px;
    margin: 10px 0px;
    height: 120px;
    border-radius: 50%;
}

.card .card_name {
    color: #575757;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

.card .card_discription {
    color: #575757;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}